<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site_description  }}">
        {% block page_title %}
        <title>{{ site_name }}</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/custom.css') }}" />

        {# placeholder blocks for page-specific elements #}
        {% block page_stylesheets %}
        {% endblock %}

        {# if you use something like Google Analytics, put it in ./institution/analytics.html.twig and we'll include it here #}
        {% include ['institution/analytics.html.twig', 'analytics.html.twig'] ignore missing %}

       {# placeholder block for JSON-LD output #}
       {% block JSONLD_output %}

<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "DataCatalog",
"name": "{{ site_name }}",
"keywords":"science, dataset, research, data, data catalog",
"url": "{{ site_base_url }}",
"provider": {
  "@type":"Organization",
  "name":"{{ site_provider_name }}",
  "url":"{{ site_provider_url }}",
  "parentOrganization": {
    "@type":"Organization",
    "name": "{{ institution_name }}",
    "address":"{{ institution_address }}",
    "url":"{{ institution_url }}"
   }
 }
}
 </script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebSite",
"name": "{{ site_name }}",
"description":"{{ site_description }}",
"url": "{{ site_base_url }}",
"keywords":"science, dataset, research, data, data catalog",
"potentialAction": {
"@type": "SearchAction",
"target": "{{ site_base_url }}/search?keyword={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>
       {% endblock %}

       {% block results_JSONLD_output %}
       {% endblock %}

    </head>
    <body>
      <a href="#maincontent" class="skip">Skip to content</a>
				<div class="container-fluid">
					<div class="row upitt-header">
						<div class="col-sm-12">
							<a href="//pitt.edu"><img src="{{ asset('/img/institution/pitt-logo-gold.png') }}" class="pitt-logo" alt="University of Pittsburgh"></a>
						</div>
					</div>
					<div class="row pitt-dc-header">
						<div class="col-sm-6">
							<img class="header-hsls-logo" src="/img/institution/HSLS-logo-only.png">
							<h1 class="pdc-pagetitle">
								<span class="pdc-pagetitle-primary"><a class="pagetitlelink" href="/">{{ site_name }}</a></span>
								<span class="pdc-pagetitle-subheading">A project by the <a class="pagetitlelink" href="https://www.hsls.pitt.edu/">Health Sciences Library System</a></span>
							</h1>						
						</div>
						<div class="col-sm-6 nav-col">
							<ul class="nav nav-tabs">
								<li class="home-nav-link {% if app.request.get('_route') == 'default_search_results'%}active{% endif %} "><a href="/">Home</a></li>
								<!-- Removed temporarily
								<li class="about-nav-link {% if app.request.get('_route') == 'help' %}active{% endif %}"><a href="{{ path('help') }}">Help</a></li>-->
								<li class="about-nav-link"><a href="/data?page=1">Browse</a></li>
								<li class="about-nav-link {% if app.request.get('_route') == 'about' %}active{% endif %}"><a href="{{ path('about') }}">About</a></li>
								<li class="contact-page-link {% if app.request.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">Contact</a></li>
								{% if is_granted('ROLE_USER') %}
									<li class="privileged-nav-link admin-page-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}"><a href="{{ path('admin_panel') }}">Admin</a></li>
								{% endif %}

							</ul>

						</div>
					</div>
					<div class="row dc-search-header">
						<div class="col-sm-6 flexcol vertmidcol col-desc-fr dc-search">

							<label for="keyword-search-input"><a href="/data?page=1" style="color: white;" >Find datasets from University of Pittsburgh Researchers</a></label>

						</div>
						<div class="col-sm-6 flexcol vertmidcol dc-search">

							<form id="keyword-search-form" class="input-group">
									<input type="text" class="form-control" id="keyword-search-input">
									<span class="input-group-btn">
										<button id="keyword-search-submit" class="btn btn-default" type="submit">Go!</button>
									</span>
							</form>

						</div>
						<div class="col-sm-6 flexcol vertmidcol dc-add">

								<a href="/data/submit-dataset" class="link-as-button add-link">Include your dataset</a> 

						</div>
						<div class="col-sm-6 flexcol vertmidcol col-desc-fr dc-add">

							
						
						</div>

					</div>
					<div class="row" id="maincontent">
					 {# ADMIN NAV SIDEBAR #}
						{% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}
							<div class="admin-nav-sidebar col-xs-3">
							<ul class="nav nav-stacked nav-pills">
							{% if is_granted('ROLE_ADMIN') %}
							<li class="{% if app.request.get('_route') == 'approval_queue' %}active{% endif %}" role="presentation">
								<a href="{{ path('approval_queue') }}">View Unpublished Datasets
								{{ render(controller('AppBundle:Queue:queueLength')) }}
							</a>
							 </li>
							{% endif %}
							<li class="{% if app.request.get('_route') == 'add_dataset' or app.request.get('_route') =='ingest_dataset' %}active{% endif %}" role="presentation">
								<a href="{{ path('add_dataset', {'entityName':'Dataset'}) }}">Add a New Dataset</a>
							 </li>
							{% if is_granted('ROLE_ADMIN') %}
							<li class="{% if 'update/Dataset' in app.request.requestUri  %}active{% endif %}" role="presentation">
								<a href="{{ path('update_entity', {'entityName':'Dataset'}) }}">Edit an Existing Dataset</a>
							 </li>
							 <div class="spacer25"></div>
							<li class="{% if app.request.get('_route') == 'admin_manage' or ('update' in app.request.requestUri and 'update/Dataset' not in app.request.requestUri and 'update/User' not in app.request.requestUri) %}active{% endif %}" role="presentation">
								<a href="{{ path('admin_manage') }}">Manage Related Entities</a>
							 </li>
							<li class="{% if app.request.get('_route') == 'admin_users' or 'update/User' in app.request.requestUri %}active{% endif %}" role="presentation">
								<a href="{{ path('admin_users') }}">Manage Website Users</a>
							 </li>
							 <div class="spacer25"></div>
							 <li class="{% if 'remove/Dataset' in app.request.requestUri %}active{% endif %}" role="presentation">
								<a href="{{ path('remove_entity', {'entityName':'Dataset'}) }}">Remove a Dataset</a>
							 </li>
							{% endif %}
							</ul>
							</div>
						{% endif %}


			      {% block content %}{% endblock %}
			    </div>
      {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/respond.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/searching.js') }}" type="text/javascript"></script>
      {% endblock %}
      {# placeholder block for page-specific scripts #}
      {% block page_scripts %}
      {% endblock %}
      </div>
      <div class="push"></div>
    </div>
      <footer id="footer">

				<div class="footer-wrapper">

					{# Use the file 'institution/footer.html.twig' for your institution-specific footer content #}
					{% include ['institution/footer.html.twig','footer.html.twig'] ignore missing %}

					{% if is_granted('ROLE_USER') %}
							<a href="{{ path('logout') }}">Admin Logout</a>
					{% else %}
						<a href="{{ path('login_route') }}">Admin Login</a>
					{% endif %}

				</div>

      </footer>
  </body>
</html>
