<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site_description  }}">
        {% block page_title %}
        <title>{{ site_name }}</title>
        {% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/custom.css') }}" />

        {# placeholder blocks for page-specific elements #}
        {% block page_stylesheets %}
        {% endblock %}

        {# if you use something like Google Analytics, put it in ./institution/analytics.html.twig and we'll include it here #}
        {% include ['institution/analytics.html.twig', 'analytics.html.twig'] ignore missing %}

       {# placeholder block for JSON-LD output #}
       {% block JSONLD_output %}

<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "DataCatalog",
"name": "{{ site_name }}",
"keywords":"science, dataset, research, data, data catalog",
"url": "{{ site_base_url }}",
"provider": {
  "@type":"Organization",
  "name":"{{ site_provider_name }}",
  "url":"{{ site_provider_url }}",
  "parentOrganization": {
    "@type":"Organization",
    "name": "{{ institution_name }}",
    "address":"{{ institution_address }}",
    "url":"{{ institution_url }}"
   }
 }
}
 </script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebSite",
"name": "{{ site_name }}",
"description":"{{ site_description }}",
"url": "{{ site_base_url }}",
"keywords":"science, dataset, research, data, data catalog",
"potentialAction": {
"@type": "SearchAction",
"target": "{{ site_base_url }}/search?keyword={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>
       {% endblock %}

       {% block results_JSONLD_output %}
       {% endblock %}

    </head>
    <body>
      <a href="#maincontent" class="skip">Skip to content</a>
      <div class="page-wrapper">
      <header id="page-header">
        <div class="logos-container">
        {# tell us where your site's logo lives in 'institution/logo.html.twig' #}
        {% include ['institution/logo.html.twig','logo.html.twig'] ignore missing %}
        </div>
        <nav class="menu-bar">
          <ul class="menu-links">
            <li class="menu-link {% if app.request.get('_route') == 'about' %}active{% endif %}"><a href="{{ path('about') }}">About</a></li>
            <li class="menu-link {% if app.request.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">Contact Us</a></li>
            {% if is_granted('ROLE_USER') %}
              <li class="menu-link admin-menu-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}"><a href="{{ path('admin_panel') }}">Admin</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
              <li class="menu-link logout-link"><a href="{{ path('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </header> 
      {% if app.request.get("_route") == 'homepage' %}
        {% include ['frontpage_search_bar.html.twig'] ignore missing %}
      {% else %}
        {% include ['search_bar.html.twig'] ignore missing %}
      {% endif %}
      <div id="maincontent" class="content-container">

      {# ADMIN NAV SIDEBAR #}
      {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}
        <div class="admin-nav-sidebar col-xs-3">
        <ul class="nav nav-stacked nav-pills">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="{% if app.request.get('_route') == 'approval_queue' %}active{% endif %}" role="presentation">
          <a href="{{ path('approval_queue') }}">View Unpublished Datasets
          {{ render(controller('AppBundle:Queue:queueLength')) }}
        </a>
         </li>
        <li class="{% if 'update/ArchivedDatasets' in app.request.requestUri %}active{% endif %}" role="presentation">
          <a href="{{ path('update_entity', {'entityName':'ArchivedDatasets'}) }}">View Archived Datasets</a>
         </li>
         <div class="spacer25"></div>
        {% endif %}
        <li class="{% if app.request.get('_route') == 'add_dataset' or app.request.get('_route') =='ingest_dataset' %}active{% endif %}" role="presentation">
          <a href="{{ path('add_dataset', {'entityName':'Dataset'}) }}">Add a New Dataset</a>
         </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="{% if 'update/Dataset' in app.request.requestUri  %}active{% endif %}" role="presentation">
          <a href="{{ path('update_entity', {'entityName':'Dataset'}) }}">Edit an Existing Dataset</a>
         </li>
         <div class="spacer25"></div>
        <li class="{% if app.request.get('_route') == 'admin_manage' or ('update' in app.request.requestUri and 'update/Dataset' not in app.request.requestUri and 'update/ArchivedDatasets' not in app.request.requestUri and 'update/User' not in app.request.requestUri) %}active{% endif %}" role="presentation">
          <a href="{{ path('admin_manage') }}">Manage Related Entities</a>
         </li>
        <li class="{% if app.request.get('_route') == 'admin_users' or 'update/User' in app.request.requestUri %}active{% endif %}" role="presentation">
          <a href="{{ path('admin_users') }}">Manage Website Users</a>
         </li>
         <div class="spacer25"></div>
         <li class="{% if 'remove/Dataset' in app.request.requestUri %}active{% endif %}" role="presentation">
          <a href="{{ path('remove_entity', {'entityName':'Dataset'}) }}">Remove a Dataset</a>
         </li>
        {% endif %}
        </ul>
        </div>
      {% endif %}

      {% block content %}{% endblock %}
      {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/respond.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/searching.js') }}" type="text/javascript"></script>
      {% endblock %}
      {# placeholder block for page-specific scripts #}
      {% block page_scripts %}
      {% endblock %}
      </div>
      <div class="push"></div>
    </div>
      <footer id="footer">

        {# Use the file 'institution/footer.html.twig' for your institution-specific footer content #}
        {% include ['institution/footer.html.twig','footer.html.twig'] ignore missing %}

      </footer>
  </body>
</html>
