{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}
{% from 'default/_widget_prototype_macro.html.twig' import widget_prototype %}

{% block page_title %}
<title>Add a Dataset</title>
{% endblock %}

{% block page_stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" />
{% endblock %}


{% block page_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
<script src="{{ asset('js/add_form.js') }}" type="text/javascript"></script>
{% endblock %}

{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}

{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}




{% block content %}
<div class="col-xs-7" >
<div class="page-header">
<h1>Add a new dataset</h1>
<p class="text-muted"><small>Note: Any Local Experts or Authors associated with this dataset <a href="{{ path('add_new_entity', {'entityName':'Person'}) }}">must be in the system</a> before filling out this form.</small></p>
</div>
  {{ form_start(form) }}
  {% if form.vars.valid == false %}
    <div class="alert alert-danger"><strong>There was an error in this form</strong>. Please scroll down for more information.</div>
  {% endif %}
  {{ form_errors(form) }}
  <fieldset>
   <legend>General Dataset Information</legend>
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.subject_keywords) }}
  </fieldset>
  <fieldset>
    <legend>Author Information</legend>
    {# AUTHORS #}
    <div class="form-group multiple">
      <label class="col-sm-4 control-label" for="{{ form.authorships.vars.name }}">
        {{ form.authorships.vars.label }}
      </label>
      <div class="col-sm-8">
        <a class="btn-add label label-success" data-target="add-{{ form.authorships.vars.name}}">Add item</a>
      </div>
      <div class="add-{{ form.authorships.vars.name}}" data-prototype="{{ widget_prototype(form.authorships, 'Remove item')|escape }}">
      {% for widget in form.authorships %}
        {{ widget_prototype(widget, 'Remove item') }}
      {% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Access</legend>
      {{ form_row(form.access_instructions) }}
  </fieldset>
  <fieldset>
    <legend>Detailed Dataset Information</legend>
      {{ form_row(form.subject_of_study) }}
      {{ form_row(form.related_equipment) }}
      {{ form_row(form.related_software) }}
      {{ form_row(form.dataset_formats) }}
      {{ form_row(form.data_collection_standards) }}
      {{ form_row(form.subject_start_date) }}
      {{ form_row(form.subject_end_date) }}
  </fieldset>
  {{ form_widget(form._token) }}
  {{ form_widget(form.save) }}
    </form> 


{#  {% for child in form.children %}
    {% if child.vars.prototype is defined %}
    <div class="form-group multiple">
      <label class="col-sm-4 control-label" for="{{child.vars.name}}">
        {{child.vars.label}}
      </label>
      <div class="col-sm-8">
        <a class="btn-add label label-success" data-target="add-{{child.vars.name}}">Add item</a>
        </div>
      <div class="add-{{child.vars.name}}" data-prototype="{{ widget_prototype(child, 'Remove item')|escape }}">
      {% for widget in child %}
        {{ widget_prototype(widget, 'Remove item') }}
      {% endfor %}

      </div>
    </div>
  {% else %}
    {{ form_row(child) }}
  {% endif %}

{% endfor %}
  {{ form_widget(form._token) }}
#}

</form>



</div>

<div id="addEntityFormModal" class="modal fade">
  <div class="modal-dialog" >
    <div id="addEntityFormModalContent" class="modal-content">
    </div>
  </div>
</div>

{% endblock %}

