{% macro widget_prototype(widget,remove_text) %}

  {% if widget.vars.prototype is defined %}
    {% set form = widget.vars.prototype %}
    {% set name = widget.vars.prototype.vars.label %}
  {% else %}
    {% set form = widget %}
    {% set name = widget.vars.label %}
  {% endif %}

  <div data-content="add-{{ name }}" class="dynamic-form-element-container">
    <div class="add-{{name}}">
    {{ form_widget(form) }}
    {# <a class="btn-remove btn btn-danger" role="button" data-related="add-{{ name }}">{{ remove_text }}</a>#}
    </div>
  </div>

{% endmacro %}
