<html>
<body>
<p>Hello, some new feedback has been received about the Data Catalog.<p>
<p>
<b>Name:</b> {{ msg.getFullName }}
</p>
<p>
<b>Employee ID:</b> {{ msg.getEmployeeId }}
</p>
<p>
<b>Affiliation:</b> {{ msg.getAffiliation }}
</p>
<p>
<b>Email:</b> {{ msg.getEmailAddress }}
</p>
<p>
<b>Reason for contacting us:</b> {{ msg.getReason }}
</p>
<p>{{ msg.getMessageBody }}</p>
</body>
</html>
