{% extends 'base.html.twig' %}

{% block page_stylesheets %}
{% endblock %}

{% block page_title %}
 <title>Entity Updated</title>
{% endblock %}

{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-6 offset-sm-1" >
<div class="page-header">
<h1>Update Successful!</h1>
</div>
<p>
The {{ displayName }} "{{ addedEntityName }}" was updated successfully.
</p>
<div class="spacer25"></div>
<p>
{% if entityName == 'Dataset' %}
  To view the item, <a href="{{ path('view_dataset', {'uid':uid}) }}">click here</a>.
  <br/><br/>
  To add a new dataset, <a href="{{ path('add_dataset') }}">click here</a>.
{% else %}
  To view or make further edits, <a href="{{ path('update_entity', {'slug':newSlug,'entityName':entityName}) }}">click here</a>.
  <br/><br/>
  To add a new {{ displayName }}, <a href="{{ path('add_new_entity', {'entityName':entityName}) }}">click here</a>.
{% endif %}
</p>
<p>

</p>


</div>
</div>
</div>

{% endblock %}

